@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/*
RESET: (LISTO)
selector universal
/*



/*
PROPIEDADES DE TEXTO: 
listas: 
-list-style-none
fuentes: 
-font-style,
-font-weight, 
-font-size, 
-font-family, 
-text-align, 
-line-height, 
-text-decoration, 
*/

/*
PROPIEDAD COLOR (listo): 
color 

*/





/*
UNIDADES DE MEDIDA: 
px, 
porcentaje, 
rem = 1rem = 16px
*/

/*
INSERTAR FUENTES GOOGLE FONTS


*/

/*

COLORES

NARANJA: #FF6E00
AZUL: #001F45
ROJO: #FF0033
ROSA: #D0004B
GRIS: #40516B


FUENTES: 

font-family: 'Londrina Solid', cursive;
font-family: 'Roboto', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    overflow: hidden;
    background: rgb(3,1,41);
    margin-bottom: 20px;
}
.wrapper{
        width: 90%;
        max-width: 1000%;
        margin: auto;
        overflow: hidden;    
}

.logo{
    color: azure;
    font-size: 50px;
    line-height: 200px;
   float: left;
}

.header__nav{
    float: right;
    line-height: 200px;
}

header nav li{
    display: inline-block;
    color: rgb(3,1,41);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition; all 500ms ease;
    -o-transition: all 500ms ease;
    transition; all 500ms ease;
    border-radius; 50px;
}

header nav li:hover {
    background: #f56f3a;
    border-radius: 50px;
}


.header__list{
    list-style: none;
    display: flex; 
}

.header__item{
    margin: 0px 10px;
    background-color: #1b4bac;
    border: none; 
    color: rgb(3,1,41); 
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer; 
}

.hero{
    background: rgb(3,1,41);
background: -moz-linear-gradient(180deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 32%, rgba(2,2,83,1) 46%, rgba(2,2,102,1) 59%);
background: -webkit-linear-gradient(180deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 32%, rgba(2,2,83,1) 46%, rgba(2,2,102,1) 59%);
background: linear-gradient(180deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 32%, rgba(2,2,83,1) 46%, rgba(2,2,102,1) 59%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030129",endColorstr="#020266",GradientType=1);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
}

.hero__contenedor{
    color: rgb(3,1,41);
    position: relative;
    left: 30px; 
    padding: 20px 15px;
    border-radius: 15px; 
    width: 550px;
}

.hero__titulo{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
}

.btn{
    background-color: #292A2C;
    border: none; 
    color: white; 
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.sectionfondo{
    background-color: #363b44;
    border: none; 
}

.btndos{
    background-color: #805319;
    border: none; 
    color: white; 
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.complementoMain{
    color: white; 
    background: rgb(3,1,41);
    background: -moz-linear-gradient(0deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 34%, rgba(2,2,83,1) 68%, rgba(2,2,102,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 34%, rgba(2,2,83,1) 68%, rgba(2,2,102,1) 100%);
    background: linear-gradient(0deg, rgba(3,1,41,1) 0%, rgba(1,1,66,1) 34%, rgba(2,2,83,1) 68%, rgba(2,2,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030129",endColorstr="#020266",GradientType=1);
    display: flex;
}


.complementoMain__video{
    width: 100%;
}

.complementoMain__contenedor{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 60px 40px;
    justify-content: center;
}

.complementoMain__titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.complementoMain__parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}

.equipo{
    background-color: #F2D794;
    color:#fff; 
    display: flex;
    flex-direction: column;
    padding: 60px 40px;

}

.equipo__contenedor{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.equipo_titulo--grande{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.equipo__miembro{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;

}

.equipo__img{
    width: 100%;
    border-radius: 50%;
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    margin: auto;
}

.equipo__img--azul{
    border: 10px solid #001F45;
}

.complementoEquipo{
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
}

.complementoEquipo__contenedor{
    display: flex; 
    flex-direction: row;
    gap: 20px; 
}

.complementoEquipo__img{
    width: 100%;
}

.complementoEquipo__contenedor--texto{
    align-self: center;
    width: 100%;
}

.complementoEquipo__titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.complementoEquipo__parrafo{
    font-size: 1rem;
    line-height: 1.8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  

.footer{
    display: flex;
    padding: 60px 40px;
}

.footer__columna{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    max-width: 200px;
    margin: auto;
}

.footer__list{
    list-style: none;
}

.footer__list a{
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
}



